@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-header xl:text-5xl text-4xl;
  }
  h2 {
    @apply font-header xl:text-4xl text-2xl;
  }
  h3 {
    @apply font-header xl:text-2xl text-xl;
  }
  h4 {
    @apply xl:text-xl text-lg;
  }

  p {
    @apply my-4;
  }

  a {
    @apply underline underline-offset-1 font-bold decoration-2 decoration-sky-500;
  }

  ul {
    @apply list-disc list-inside pl-3;
  }

  ol {
    @apply list-decimal list-inside pl-3;
  }

  hr {
    @apply mt-2 mb-2 border-b-0 border-t-4 border-solid w-1/3;
  }
}

@layer components {
  .btn {
    @apply rounded-md py-2 px-4 bg-brand text-white transition-all hover:scale-110
  }

  .section {
    @apply px-4 mx-auto;
  }
}

html {
  font-size: 18px;
}
