---
import { Picture } from 'astro:assets'
import heroImage from '../assets/hero.jpg'
import ExternalLink from '../components/ui/ExternalLink.astro'
import Button from '../components/ui/Button.astro'

interface Props {}

const {} = Astro.props
---

<div class='relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20'>
  <div class='mx-auto max-w-7xl px-8 pt-40 lg:grid lg:grid-cols-2 lg:gap-x-8'>
    <div class='px-6 lg:px-0 lg:pt-4'>
      <div class='mx-auto max-w-2xl'>
        <div class='max-w-lg'>
          <h1 class='mt-10 primary tracking-tight text-gray-900 sm:text-6xl'>
            Improve communication with your customers
          </h1>
          <p class='mt-6 text-lg text-gray-600'>
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
            cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
          </p>
          <div class='mt-10 flex items-center gap-x-6'>
            <Button text='Something important' type='primary' href='#' />
            <ExternalLink text='Contact Us' href='#' />
          </div>
        </div>
      </div>
    </div>
    <div
      class='mt-20 sm:mt-24 hidden lg:block md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen relative'
    >
      <Picture
        src={heroImage}
        formats={['avif', 'webp']}
        width={1344}
        alt='Hero image'
        class='rounded-xl'
      />
    </div>
  </div>
  <div class='absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32'>
  </div>
</div>
